@import '../../styles/variables';

.card {
    background-color: $primary-color;
    color: $background-color;
    width: 70vw;
    margin-left: 22px;
    padding: 26px;
    padding-top: 0;
    border-radius: 6px;
    margin-bottom: 24px;

}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 22px;
    margin-right: 22px;
    margin-top: 22px;
    text-align: left;
}

.cardTitle {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    margin-top: 12px;
    margin-bottom: 0;
    color: $background-color;
    width: 511px;
    text-align: left;
}

.columns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 22px;
    margin-right: 22px;
    margin-top: 22px;
}

.subTitle {
    width: 298px;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    color: $background-color;
    text-align: left;
}

.commercial {
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    text-align: left;
}

.label {
    color: #B69797;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    text-align: left;
}

.info {
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
    color: $background-color;
    // width: 188px;
    margin-left: 50px;
    text-align: left;
}

.row {
    display: flex;
}


.roleDesc {
    cursor: pointer; // Стиль курсору для заголовку
    font-weight: bold;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    text-align: left;
}

.header {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    cursor: pointer;
    margin-left: 22px;
}

.arrow {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid black; // Колір стрілки (трикутника)
    transition: transform 0.3s ease;
    margin-left: 20px;

}

.open {
    transform: rotate(180deg); // Перевертає трикутник
}

.roleDesc {
    text-align: left;
    margin-left: 20px;
}