@import '../../styles/variables.scss';

body::-webkit-scrollbar {
    width: 0 !important
}

.searchBar {
    margin-left:10rem !important;
    
}


.content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    transition: margin-left 0.3s ease, width 0.3s ease;
    z-index: 0;
}